body {
    background-color: #282a36;
}

h1 {
    text-align: center;
    font-style: italic;
    color: #6272a4;
}

pre#json-result {
    color: #50fa7b;
}

div.row {
    margin-top: 2%;
}
select.search_select2 {
    width: 100%
}