body {
    background-color: #14151b;
}

h1 {
    text-align: center;
    font-style: italic;
    color: #6272a4;
}

div.row {
    margin-top: 2%;
}

select.search_select2 {
    width: 100%
}

p {
    color: #d4d4d6;
}

.risked_initial, .final_formatted, .percent_discount {
    padding-left: 1%;
}

.percent_discount {
    color: #000000;
    background-color: #84fba2;
}

.risked_initial, .final_formatted {
    color: #d4d4d6;
}

div#background-image img {
    width: 1080px;
    height: 280px;
    object-fit: cover;
    object-position: 50% 50%;
}

div#cover img {
    margin-top: -11.5%;
    margin-left: -11.5%;
    padding: 1px;
    border: 1px solid #3d3f4a;
    background-color: #000000;
}

.time-info-item {
    padding-left: 1%;
}

ul.time-info-list {
    margin-top: -4%;
}

li.time-info-item {
    margin-left: 25%;
    font-size: 95%;

}

li.list-group-item {
    color: #d4d4d6;
    background-color: #1c1d25;
    border-color: #3d3f4a;
}

ul#game-info-list {
    margin-right: 6%;
}

div#description {
    /*margin-left: 30.6%;*/
    /*margin-right: 25%;*/
}

ul.genre-list {
    margin-top: -42%;
    margin-left: -2.7%;
}

li.genre-item {
    padding: 2.5%;
}

p.genre-item {
    margin-bottom: 0;
}

ul.language-list {
    max-height: 200px;
}

div#language-scroll {
    margin-left: -2.5%;
    margin-top: 5%;
}