body {
    background-color: #282a36;
}

h1 {
    text-align: center;
    font-style: italic;
    color: #6272a4;
}

div.row {
    margin-top: 2%;
}
select.search_select2 {
    width: 100%
}

p {
    color: #50fa7b;
}

.percent_discount {
    font-weight: bold;
    color: #000000;
    background-color: #84fba2;
}

.risked_initial, .final_formatted {
    color: #ffffff;
    background-color: #000000;
}

.item-title {
    color: #f1fa8c;
}