{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=1260">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="shortcut icon" href="{% static "img/potion32.png" %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>

