{% extends 'base.html' %}

{% block title %}
    <div class="container">
        <h1>Search result for game: {{ game.searched_game }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container" id="table-game-detail">
        <p><span class="desc-field">Game Found: </span><span class="value-field">{{ game.game_name }}</span></p>
        <p><span class="desc-field">Current Price on Steam:</span> <span class="value-field">{{ game.current_price }}</span></p>
        <p><span class="desc-field">Best Price on Steam:</span> <span class="value-field">{{ game.best_price }}</span></p>
        {% if game.time_information %}
            {% for time in game.time_information %}
                <p><span class="desc-field">{{ time.description }}:</span> <span class="value-field">{{ time.content }}</span></p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}