{% extends 'base.html' %}

{% block title %}
    <div class="container">
        <h1>Hi, search for a game on Steam :)</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container" id="search-menu">
        <form action="{% url 'index' %}" method="POST">{% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Game name</span>
                </div>
                {{ form.game_search }}
                {{ form.currency }}
            </div>
            <button class="btn btn-primary" id="search-btn" type="submit">Search</button>
        </form>
    </div>
{% endblock %}